@CHARSET "UTF-8";

#tabs{
    color: navy;
    font-size: medium;
    font-stretch: condensed;
    font-weight: bold;
}
#connectionsPerDayGraph{
    background-color: #00AAE7;
    color: navy;
    font-size: medium;
    font-stretch: condensed;
    font-weight: bold;
}
#applicationStatsGraph{
    background-color: #ffe862;
    color: navy;
    font-size: medium;
    font-stretch: condensed;
    font-weight: bold;
}
#connectionsPerMonthGraph{
    background-color: #E0B0B0;
    color: navy;
    font-size: medium;
    font-stretch: condensed;
    font-weight: bold;
}
input#datepicker{
    background-color: #E0B0B0;  
    color: navy;
    font-size: medium;
    font-stretch: condensed;
    font-weight: bold;
}
#msgPopup {
    color: red;	
}

.ui-spinner-button {
    width: 16px;
    height: 50%;
    font-size: .5em;
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    cursor: default;
    display: block;
    overflow: hidden;
    right: 0;
}

.ui-spinner-input {
    border: none;
    background: none;
    color: inherit;
    padding: 0;
    margin: .2em 0;
    vertical-align: middle;
    margin-left: .4em;
    margin-right: 22px;
    width: 20px;
}

#generatedPassword {
    color: navy;
    font-weight: bold;
    font-size: small;
    font-family: sans-serif;
}

#emailTo {
    color: red;
    font-weight: bold;
}

#emailCc {
    color: red;
    font-weight: bold;
}

#emailBcc {
    color: red;
    font-weight: bold;
}

.ui-datepicker-current-day .ui-state-active {
    background: #000000;
    color: gold;
}

label {
    display: inline-block;
    font-family: sans-serif;
    font-size: medium;
    color: navy;
}

.ui-tooltip {
    font-size: 10pt;
    font-family: cursive;
}

.custom-tooltip-styling {
    font-size: 10pt;
    font-family: cursive;
}

.ruoloButton {
    color: red;
}

.customTooltip {
    background-image: none;
    background-color: #ffc;
    color: #633;
    max-width: 300px;
    border: #ccc solid 0.1em;
    padding: 0.3em;
    border-radius: 0.4em;
    box-shadow: 0.3em 0.3em 0.3em #999
}

.ui-tooltip1 {
    padding: 8px;
    position: absolute;
    z-index: 9999;
    max-width: 300px;
    -webkit-box-shadow: 0 0 5px #aaa;
    box-shadow: 0 0 5px #aaa;
    background-color: white !important;
    color: Red !important;
}

button {
    background-color: teal;
    font-size: medium;
    color: lime;
}

#emailTd {
    font-size: x-large;
    font-family: cursive;
}

#dialogEmail {
    background-color: silver;
    color: navy;
}

#dialogSuccess {
    background-color: yellow;
    color: navy;
}

.no-close .ui-dialog-titlebar {
    background-color: green;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.no-close .ui-dialog-buttonpane {
    background-color: teal;
}

.error_page {
    color: #FF0000;
    font-size: xx-large;
    font-weight: bold;
}

.error {
    color: #FF0000;
    font-size: 12;
    font-weight: bold;
}

.message {
    color: navy;
    font-size: 12;
    font-weight: bold;
}

body {
    background-image: url("../images/background-color1.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#mailUserTable {
    background-image: url("../images/background-color5.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-width: thick;
    border-style: groove;
    border-color: teal;
    border: thick;
}

#userMenuTable {
    background-image: url("../images/background-color2.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-width: thick;
    border-style: groove;
    border-color: teal;
    border: thick;
    color: gold;
}

table {
    background-color: highlight;
    font-family: sans-serif;
    font-size: small;
    color: navy;
}

#logoTitleFrameTable {
    background-color: transparent;
    font-family: sans-serif;
    font-size: small;
    color: gold;
}

#titleFrameTable {
    border: 1;
    background-color: yellow;
    font-family: sans-serif;
    font-size: medium;
    font-weight: bold;
    color: navy;
    display: inline-table;
    color: navy;
}

textarea {
    font-size: small;
    font: italic;
    background-color: silver;
    font-weight: bold;
    color: navy;
    size: landscape;
}

input {
    font-size: medium;
}

th {
    font-size: small;
    color: maroon;
    background-color: white;
}

h1 {
    font-size: xx-large;
    font-family: cursive;
    font-weight: bold;
    color: gold;
}

h2 {
    color: blue;
}

h3 {
    color: teal;
}

h4 {
    color: white;
}

a {
    color: lime;
}